.login-section {
	background-color: #efefef;
	width: 100%;
	.header-loginImg {
		.header1 {
			background-color: #fefefe;
			padding: 2rem 12%;
			font-size: 2rem;
			font-weight: bold;
			span {
				min-width: 445px;
			}
		}
		.header {
			width: 100%;
			height: auto;
		}
	}

	.body-login {
		padding: 50px 0;
		display: flex;
		justify-content: center;
		.card-login {
			background-color: #fff;
			max-width: 600px;
			width: 600px;
			box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
			padding: 20px 50px;
			.card-body-login {
				text-align: center;
				.card-logo {
					padding: 60px 0px;
				}
				h4 {
					color: #1d497d;
					font-weight: bold;
					margin-bottom: 60px;
				}
			}
			.card-form-input {
				.div-input-username {
					width: 100%;
					margin-bottom: 50px;
					text-align: left;
					input {
						width: 100%;
						border: 1px solid #a7a7a7;
						padding: 5px 10px;
					}
					label {
						font-size: 1.1rem;
						color: #1d497d;
					}
				}
				.div-input-name {
					width: 100%;
					margin-bottom: 50px;
					text-align: left;
					input {
						width: 100%;
						border: 1px solid #a7a7a7;
						padding: 5px 10px;
					}
					label {
						font-size: 1.1rem;
						color: #1d497d;
					}
				}
				.div-input-password {
					width: 100%;
					text-align: left;
					input {
						width: 100%;
						border: 1px solid #a7a7a7;
						padding: 5px 10px;
					}
					label {
						font-size: 1.1rem;
						color: #1d497d;
					}
				}
				.div-forgot-password {
					text-align: right;
					color: #1d497d;
					margin-top: 5px;
					span {
						text-decoration: underline;
						font-size: 0.8rem;
						&:hover {
							cursor: pointer;
						}
					} 
				}
			}
			.card-form-submit {
				width: 100%;
				margin: 80px 0;
				button {
					background-color: #f89937;
					border: 0;
					color: #fff;
					padding: 10px 0;
					width: 60%;
					font-size: 1.1rem;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.login-header {
	text-decoration: underline;
	padding-left: 10px;
}

@media(max-width: 705px) {
	.body-login .card-login {
		max-width: 400px !important;
		height: auto;
	}
}