input,
input:focus,
input:active {
	outline: none;
	box-shadow: none !important;
}
ul {
	list-style-type: none;
	margin: 0;
}
.full {
	width: 100%;
}
.hr-full {
	display: block;
	background-color: #f89937;
	height: 2px;
	margin-right: -100px;
	margin-left: -100px;
}
.line-gray {
	width: 100%;
	height: 2px;
	background-color: #c6c6c6;
	margin: 1rem 0 1.5rem 0;
}
.survey-properties {
	li {
		color: #558ed5;
		span {
			position: relative;
			top: 10px;
			width: 25px;
			height: 34px;
			display: inline-block;
			background-repeat: no-repeat !important;
	    	background-position: center !important;
			margin-right: 1rem;
		}
	}
	li.question-icon span {
		background: url('/../../../images/question-icon.png');
	}
	li.settings-icon span {
		background: url('/../../../images/settings-blue-icon.png');
	}
	li.preview-icon span {
		background: url('/../../../images/preview-blue-icon.png');
	}
	li.share-icon span {
		background: url('/../../../images/share-blue-icon.png');
	}
	li.active {
		color: #f89937;
	}
}
select.dropdown {
	width: 100%;
	outline: none;
	padding: .5rem 1rem;
	border: solid 1px #a7a7a7;
	color: #696969;
	background: url('/../../../images/drop-down-icon.png') no-repeat center right;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.search {
	width: 100%;
	padding: .5rem 3rem .5rem 1rem;
	border: solid 1px #a7a7a7;
	background: url('/../../../images/search-icon.png') no-repeat center right;
}

.add-question {
	color: #558ed5;
	border: 1px solid #558ed5;
	border-radius: 0;
	padding: 1rem 5rem;
	position: relative;
	background-color: #efefef;
	&:before {
		content: "";
		position: absolute;
		top: -1px;
		left: -60px;
		width: 60px;
		height: 57px;
		background: #558ed5 url(/../../../images/add-icon.png) no-repeat center center;
	}
	&:active,
	&:focus,
	&:active:focus {
		outline: none;
		box-shadow: none;
	}
}

/************************************************
Checkbox
*************************************************/

.tool-check-option {
	margin-top: 1.5em;
    margin-bottom: 1.5em;
	.checkbox {
		position: relative;
		input[type="checkbox"] {
		    opacity: 0;
		    position: absolute;
		}
		label {
		    position: relative;
		    display: inline-block;
		    padding-left: 2rem;
		    height: 16px;
		    span {
		    	position: relative;
		    	top: -3px;
		    }
		}
		label::before,
		label::after {
		    position: absolute;
		    content: "";
		    display: inline-block;
		}
		label::before{
		    height: 20px;
		    width: 20px;
		    border: 1px solid;
		    left: 0px;
		    top: 0px;
		}
		label::after {
		    height: 5px;
		    width: 9px;
		    border-left: 2px solid;
		    border-bottom: 2px solid;
		    transform: rotate(-45deg);
		    left: 6px;
		    top: 6px;
		}
		input[type="checkbox"] + label::after {
		    content: none;
		}
		input[type="checkbox"]:checked + label::after {
		    content: "";
		}
	}
}

/************************************************
Modal
*************************************************/

.modal {
	.create-survey {
		max-width: 650px;
		.modal-content {
			.modal-header {
				text-align: center;
				border-bottom: 0;
				h5 {
					font-size: 2em;
					margin: 1rem auto;
				}
			}
			.modal-body {
				.blue-border {
					border: 3px solid #558ed5;
					width: 250px;
					padding: 1rem 0;
					margin: auto;
					img {
						display: block;
						margin: auto;
					}
					p {
						text-align: center;
						font-size: 2em;
						color: #558ed5;
						margin: auto;
					}
				}
			}
			.modal-footer {
				border-top: 0;
				margin: 1rem 0;
			}
		}
	}
	.close-btn {
		position: absolute;
	    top: 20px;
	    right: 20px;
	    width: 20px;
	    height: 20px;
	    background: url('/../../../images/close-icon.png') no-repeat;
	    background-size: 100%;
	    cursor: pointer;
	}
	.modal-dialog {
		.modal-header {
			h5 {
				color: #ffffff;
				font-weight: 700;
			}
		}
		.primary {
			background-color: #1d497d;
		}
		.success {
			background-color: #28a745;
		}
		.warning {
			background-color: #d43f3a;
		}
	}
	.modal-dialog.logic-modal {
		max-width: 1000px;
		.modal-content {
			.modal-body {
				.logic-header {
					border-top: 1px solid #e9ecef;
					border-bottom: 1px solid #e9ecef;
					padding: .5rem 0;
				}
				.logic-body {
					padding: 1rem 0 0 0;
					.hidden-popup {
						display: none;
					}
					.show-popup {
						display: block;
					}
					.row {
						margin-bottom: 1rem;
						.col-md-7  {
							select {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	.header-primary {
		background-color: #558ed5;
	}
}

/************************************************
Switch Button
*************************************************/
.tg-list {
	text-align: center;
	display: flex;
	align-items: center;
	padding-left: 15px;
}
.tgl {
	display: none;
	&,
  	&:after,
  	&:before,
	& *,
  	& *:after,
  	& *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
    	user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}
.tgl-ios {
	+ .tgl-btn {
		background: #fbfbfb;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		border: 1px solid #e8eae9;
		&:after {
			border-radius: 2em;
			background: #fbfbfb;
			transition:
	        left .3s cubic-bezier(
	          0.175, 0.885, 0.320, 1.275
	        ),
	        padding .3s ease, margin .3s ease;
				box-shadow:
	        0 0 0 1px rgba(0,0,0,.1),
	        0 4px 0 rgba(0,0,0,.08);
		}
    
	    &:hover:after {
	     	will-change: padding;
	    }
	    &:active {
			box-shadow: inset 0 0 0 2em #e8eae9;
			&:after {
				padding-right: .8em;
			}
		}
	}
  
	&:checked + .tgl-btn {
	    background: #f89937;
	    &:active {
	      box-shadow: none;
	      &:after {
	        margin-left: -.8em;
	      }
	    }
	}
}