.front {
	header {
		padding: 1rem 0;
		.title-wrapper {
			height: 74px;
			display: table-cell;
			vertical-align: middle;
			h3 {
				color: #ffffff;
				margin-bottom: 0;
			}
		}
	}
}

header {
	width: 100%;
	background-color: #558ed5;
	.container {
		max-width: 80%;
		.nav {
			li {
				a {
					color: #ffffff;
				}
				.btn-orange {
					background-color: #f89937;
					color: #000000;
				}
			}
		}
		.nav.right-nav {
			li {
				.dropdown-menu {
					a {
						color: #000000;
					}
				}
			}
		}
	}
}