.content-inner-body {
	.form-group {
		.tool-option {
			label {
				margin-left: 1.5rem;
			}
			.border-bottom {
				border-bottom: 1px solid #9f9f9f;
				p {
					color: #9f9f9f;
				}
			}
		}
	}
}