.starImageDiv{
	svg {
		font-size: 4rem;
		margin-right: 40px;
	}
}

.starNumber{
	div {
		width: 72px;
		display: inline-block;
		margin-right: 40px;
		margin-bottom: 20px;
	}
}

.starText{
	width: 100%;
	div {
		display: inline-block;
		margin-top: 20px;
	}

	.h-dis{
		width: 50%;
		padding-left: 3px;
		text-align: right;
		padding-right: 185px;
	}

	.h-sat{
		width: 50%;
		padding-left: 3px;
		text-align: left;
		padding-left: 156px;
	}
}

.answer-text {
	.essay-textarea {
		width: 100%;
		border: 1.5px solid #558ed5;
		padding: 7px 10px;
		height: 150px;
		transition: all 0.2s;
		&:focus {
			outline: none;
			border: 1.5px solid #f89937;
		}
	}

	.textbox-input,
	.date-input {
		width: 100%;
		border: 1.5px solid #558ed5;
		padding: 10px 10px;
		transition: all 0.2s;
		&:focus {
			outline: none;
			border: 1.5px solid #f89937;
		}
	}

	.dropdown-select {
		width: 100%;
		select {
			border: none;
			outline: none;
			width: 100%;
			padding: 10px 10px;
			border: 1.5px solid #558ed5;
		}
	}

	.slider-header {
		display: inline-block;
		width: 90%;
		.slider-input {
	    	-webkit-appearance: none;
			width: 100%;
		    height: 15px;
		    margin: 10px 0 25px 0;
		    border-radius: 10px;
		    background: #d3d3d3;
		    opacity: 0.8;
		    &:hover {
		    	opacity: 1;
		    }

		    &::-webkit-slider-thumb {
			    -webkit-appearance: none;
			    appearance: none;
			    width: 40px;
			    height: 40px;
			    border-radius: 20px;
			    border: 8px solid #558ed5;
			    background: #f89937;
			    cursor: pointer;
			}

			&::-moz-range-thumb {
			    width: 40px;
			    height: 40px;
			    border: 8px solid #558ed5;
			    border-radius: 20px;
			    background: #f89937;
			    cursor: pointer;
			}
		}
	}

	.slider-value {
		display: inline-block;
		width: 10%;
		height: 73px;
		margin-left: 20px;
		text-align: center;
		input {
			width: 100%;
			padding: 8px 0 8px 10px;
		}
	}

	table {
		width: 100%;
		margin-top: 15px;
		td:first-child {
			width: 20%;
			padding-left: 10px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		td:last-child {
			width: 80%;
			padding-right: 10px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		td {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		tr:nth-child(even) {
			background-color: #cccccc;
		}
	}
}

//welcome survey
.top-image-welcomeSurvey {
	width: 100%;
	border-bottom: 10px solid #f89937;
	img {
		width: 100%;
		height: auto;
	}
}

.container-welcomeSurvey {
	background-color: #efefef;
	.body-welcomeSurvey {
		padding: 100px 140px;
		.welcomeheader-welcomeSurvey {
			margin-bottom: 30px;
		}

		.welcomebody-welcomeSurvey {
			margin-bottom: 70px;
		}

		.form-welcomeSurvey {
			.label-form-welcomeSurvey {
				margin-bottom: 20px;
				span {
					font-weight: bold;
					font-size: 1rem;
				}
				
				.error-hide {
					color: #ff0000;
					display: none;
				}

				.error-show {
					color: #ff0000;
					display: block;
				}
			}
				
			.asterisk-default {
				color: #000;
			}

			.asterisk-error {
				color: #ff0000;
			}

			.inputDiv-welcomeSurvey {
				input,
				select {
					width: 100%;
					border: 1px solid #a7a7a7;
					padding: 10px 10px;
				}
				.label-text {
					display: inline-block;
					width: 180px;
				}
				.input-field {
					display: inline-block;
					width: calc(100% - 180px);
				}
			}

			.submitDiv-welcomeSurvey {
				margin-top: 20px;
				text-align: center;
				button {
					padding: 10px 100px;
					border: 1px solid #558ed5;
					background-color: #558ed5;
					color: #fff;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.submit-answer {
	margin-bottom: 2rem;
	.hideSubmit {
		display: none;
	}

	.btn-submit-answer {
		padding: 10px 100px;
		border: 1px solid #558ed5;
		background-color: #558ed5;
		color: #fff;
		&:hover {
			cursor: pointer;
		}
	}
}

.rightleftarrow {
	display: flex;
	justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
	width: 100%;
	margin-bottom: 2rem;
	.hideArrow {
		display: none;
	}

	.left-arrow {
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    align-items: center;
	    span {
	    	margin-left: 15px;
	    	font-size: 1rem;
	    }

		svg {
			font-size: 4rem;
			&:hover {
				cursor: pointer;
				color: #f89937;
			}
		}
	}

	.right-arrow {
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    align-items: center;
	    span {
	    	margin-right: 15px;
	    	font-size: 1rem;
	    }

		svg {
			font-size: 4rem;
			&:hover {
				cursor: pointer;
				color: #f89937;
			}
		}
	}
}

.li-active {
	display: block;
}

.li-hidden {
	display: none;
}

ul.startSurvey-page {
	padding-inline-start: initial;
}